# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec
node_modules/

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Django
*.log
*.pot
*.pyc
media/
staticfiles/

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Migrations (optional: ignore if you only want fresh migrations locally)
*/migrations/*.py
!*/migrations/__init__.py
